<!-- <div class="new_lift">
<%= form_for(@lift) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :departure %>
  <%= f.text_field :departure %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= f.label :open_seats %>
  <%= f.text_field :open_seats %>

  <%= f.label :departure_date %>
  <%= f.date_field :departure_date %>

  <%= f.submit %>
<% end %>
</div> -->


<section id="three">
  <h2>Create A Lift</h2>
  <p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
  <div class="row">
    <div class="8u 12u$(small)">
      <%= form_for(@lift) do |f| %>
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)"><%= f.text_field :name, placeholder: "Name" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :open_seats, placeholder: "Open Seats" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :zip, placeholder: "Zip" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :departure, placeholder: "Departure Location" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :destination, placeholder: "Destination" %></div>
          <div class="6u 12u$(xsmall)"><%= f.date_field :departure_date, {:id => 'datefield'}%></div>
          <div class="12u$"><%= f.text_field :description, placeholder: "Description" %></div>

          <div class="actions">
            <%= f.submit %>
          </div>

        </div>
      </form>
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-home"><span class="label">Address</span></h3>
          1234 Somewhere Rd.<br />
          Nashville, TN 00000<br />
          United States
        </li>
        <li>
          <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
          000-000-0000
        </li>
        <li>
          <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
          <a href="#">hello@untitled.tld</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<% end %>
