
<section id="three">
  <h2>Create A Lift</h2>
  <p>Please fill out the form below.  A user will contact you via facebook to set up a ride!</p>
  <div class="row">
    <div class="8u 12u$(small)">
      <%= form_for(@lift) do |f| %>
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)"><%= f.text_field :name, placeholder: "Lift Name" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :open_seats, placeholder: "Open Seats" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :zip, placeholder: "Zip" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :departure, placeholder: "Departure Location" %></div>
          <div class="6u 12u$(xsmall)"><%= f.text_field :destination, placeholder: "Destination" %></div>
          <div class="6u 12u$(xsmall)"><%= f.date_field :departure_date, {:id => 'datefield'}%></div>
          <div class="12u$"><%= f.text_field :description, placeholder: "Description" %></div>

          <div class="actions">
            <%= f.submit %>
          </div>

        </div>
      </form>
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          Your lift name and desription
          can be anything!  Feel free to mention
          gas estimates and trip details here.
        </li>
      </ul>
    </div>
  </div>
</section>
<% end %>
