
<!-- Two -->
  <section id="two">
    <h2>Recent Lifts</h2>
    <div class="row">
  <% @lifts.each do |lift| %>
      <article class="6u 12u$(xsmall) work-item">
        <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_KEY']%>
            &q=<%= lift.zip %>">
        </iframe>
        <p><%= link_to lift.name, lift_path(lift) %> by: <%= lift.user.name %></p>
        <p>Leaving<%= lift.departure %></p> <%= lift.departure_date.strftime("on %m/%d/%Y") %>

      </article>
<% end %>
  </section>



  <!-- </div>
  <ul class="actions">8
  <li><a href="#" class="all_lifts_button"><%= button_to 'View All Lifts', lifts_path%></a></li>
</ul> -->
