
<!-- Two -->
  <section id="two">

      <a href="#" ><%= button_to 'Add Lift', new_lift_path, method: 'get' %></a>
    <h2>Recent Lifts</h2>
  <% @lifts.each do |lift| %>
    <div class="row">
      <article class="6u 12u$(xsmall) work-item">
        <a href="fulls/01.jpg" class="image fit thumb"> <%= image_tag('thumbs/01.jpg') %></a>
        <%= link_to lift.name, lift_path(lift)  %>
        <p><%=lift.description%></p>
      </article>
<% end %>
  </section>







  <!-- </div>
  <ul class="actions">8
  <li><a href="#" class="all_lifts_button"><%= button_to 'View All Lifts', lifts_path%></a></li>
</ul> -->
