
<!-- Two -->
  <section id="two">
    <h2>Recent Lifts</h2>
    <div class="row">
  <% @lifts.each do |lift| %>
      <article class="6u 12u$(xsmall) work-item">
        <a href="fulls/01.jpg" class="image fit thumb"> <%= image_tag('thumbs/01.jpg') %></a>
        <p><%= link_to lift.name, lift_path(lift) %> by: <%= lift.user.name %></p>
        <p>Leaving<%= lift.departure %></p> on <%= lift.departure_date %>

      </article>
<% end %>
  </section>







  <!-- </div>
  <ul class="actions">8
  <li><a href="#" class="all_lifts_button"><%= button_to 'View All Lifts', lifts_path%></a></li>
</ul> -->
