
<!-- Two -->
  <section id="two">
    <h2>Recent Lifts</h2>

<div id="map"></div>
<script type="text/javascript">
  initMap();
</script>
  </section>

  <% @lifts.each do |lift| %>
      <article class="6u 12u$(xsmall) work-item">
        <p><%= link_to lift.name, lift_path(lift) %></p>
        <p> by: <%= lift.user.name %> </p>
        <p>Leaving: <%= lift.departure %></p>
        <p><%= lift.departure_date.strftime("on %m/%d/%Y") %></p>
      </article>
<% end %>


  <!-- </div>
  <ul class="actions">8
  <li><a href="#" class="all_lifts_button"><%= button_to 'View All Lifts', lifts_path%></a></li>
</ul> -->
