<div class="body">
  <h1><%= @lift.name %></h1>
    <div class="callout secondary">
      <%= @lift.description %>
    </div>

    <div class="callout">
      <%= @lift.name %>
      <%= @lift.description %>
      <%= @lift.departure %>
      <%= @lift.destination %>
      <%= @lift.zip %>
      <%= @lift.open_seats %>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_KEY']%>
          &q=<%= @lift.zip %>">
      </iframe>
    </div>
    <% if current_user.id == @lift.user_id %>
      <%= button_to 'Edit', edit_lift_path(@lift), :method => :get %>
      <%= button_to 'Delete', lift_path(@lift), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
</div>
