  <h1><%= @lift.name %></h1>
  <h3><%= @lift.description %></h3>

  <div id="showstuff">
    Driver: <%= @lift.user.name %><br>
    Leaving: <%= @lift.departure %><br>
    To: <%= @lift.destination %><br>
    Local zip: <%= @lift.zip %><br>
    Number of open spots: <%= @lift.open_seats %><br>
</div>
<a href="https://www.facebook.com/<%=@user.uid%>" target="_blank">Send this user a facebook message!</a>
<div class="editdelete">
  <% if current_user.id == @lift.user_id %>
    <%= button_to 'Edit', edit_lift_path(@lift), :method => :get %>
    <%= button_to 'Delete', lift_path(@lift), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>
</div>
