<div class="body">
  <h1><%= @lift.name %></h1>
    <div class="callout secondary">
      <%= @lift.description %>
    </div>

    <div class="callout">
      <%= @lift.name %>
      <%= @lift.description %>
      <%= @lift.departure %>
      <%= @lift.destination %>
      <%= @lift.zip %>
      <%= @lift.open_seats %>
    </div>
    <% if current_user.id == @lift.user_id %>
      <%= button_to 'Edit', edit_lift_path(@lift), :method => :get %>
      <%= button_to 'Delete', lift_path(@lift), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
</div>
