<!DOCTYPE HTML>

<html>
	<head>
		<title>Chair Lift</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>
  	<%= javascript_include_tag 'application' %>

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">
		<!-- Header -->
			<header id="header">
				<strong>chair lift.</strong>
			</header>
		<!-- Main -->
		<section id="one">
		  <div class="major">
				<% if user_signed_in? %>
				<div class="signout">
			  <a><%= button_to 'Sign Out', destroy_user_session_path, id: 'signout', :method => :delete %></a>
				</div>
				<% if current_user.photo != nil %>
				<%= image_tag current_user.photo + "?type=large", class:"image avatar" %>
				<% end %>
				<% end %>
			</div>
		</section>
				<div id="main">
				<%= yield %>
					<div><% flash.each do |name, msg| %>
					  <%= content_tag :div, msg, class: "alert alert-info" %>
					<% end %>
				</div>


			</div>
	</body>
</html>
