<!DOCTYPE html>
<html>
<head>
  <title>Chair Lift</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <% if user_signed_in? %>
    <nav class="top-bar" data-topbar role='navigation'>
      <section class="raisetitle">
        <%= link_to "Chair Lift", lifts_path %>
      </section>
      <section class="top_nav">
  <div class="signout_element"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
    <div class="nav_element"><%= link_to 'Home', lifts_path %>
    </section>
  </div>
</nav>

<% end %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<%= yield %>

</body>
</html>
